<header class="header">
    <div class="logo">
        <a href="/">logo</a>
    </div>
    <nav class="menu">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/portfolio">Portafolio</a></li>
            <li><a href="/contact">Contacto</a></li>
            <li><a href="/errrrrrr">Error 404</a></li>
            <ul>Handlebars
                <li><a href="https://www.sitepoint.com/a-beginners-guide-to-handlebars" target="_blank">Documentacion</a></li>
                <li><a href="https://github.com/pillarjs/hbs" target="_blank">Modulo HBS</a></li>
            </ul>
        </ul>
    </nav>
</header>